* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
}

.dice {
    width: 150px;
    height: 150px;
    background-color:whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    margin-inline: auto;
    padding: 25px;
    gap: 10px;
    position: relative;
}


.dice.rolling {
    animation: roll 1s ease-out;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(720deg);
    }
}

.dice .dot{
    width: 25px;
    height: 25px;
    background-color:black;
    border-radius: 50%;
    display: none;
     justify-self: center;  
    align-self: center;
}
.dice.face-1 .dot:nth-child(5) {
    display: block;
}

.dice.face-2 .dot:nth-child(1),
.dice.face-2 .dot:nth-child(9) {
    display: block;
}

.dice.face-3 .dot:nth-child(1),
.dice.face-3 .dot:nth-child(5),
.dice.face-3 .dot:nth-child(9) {
    display: block;
}
.dice.face-4 .dot:nth-child(1),
.dice.face-4 .dot:nth-child(3),
.dice.face-4 .dot:nth-child(7),
.dice.face-4 .dot:nth-child(9) {
    display: block;
}

.dice.face-5 .dot:nth-child(1),
.dice.face-5 .dot:nth-child(3),
.dice.face-5 .dot:nth-child(5),
.dice.face-5 .dot:nth-child(7),
.dice.face-5 .dot:nth-child(9) {
    display: block;
}

.dice.face-6 .dot:nth-child(1),
.dice.face-6 .dot:nth-child(3),
.dice.face-6 .dot:nth-child(4),
.dice.face-6 .dot:nth-child(6),
.dice.face-6 .dot:nth-child(7),
.dice.face-6 .dot:nth-child(9) {
    display: block;
}
button{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: bold;
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
    font-family: serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;

}